@model TestePratico.Web.ViewModels.UFViewModel

@{
    ViewData["Title"] = "Criar UF";
}

<h2>Criar UF</h2>

<form asp-controller="UFs" asp-action="Create" method="post">
    @Html.Partial("_Form", Model)
</form>
