@model TestePratico.Web.ViewModels.UFViewModel

@{
    ViewData["Title"] = "Criar UF";
}

<h2>Create UF</h2>

<form asp-controller="UFs" asp-action="Create" method="post">
    <partial name="_Form" for="@Model"></partial>
</form>
