@model TestePratico.Web.ViewModels.UFViewModel

@{
    ViewData["Title"] = "Excluir UF";
}

<h2>Excluir UF</h2>

<h3>Tem certeza de que quer excluir esta UF?</h3>
<div>
    <partial name="_Display" for="@Model"></partial>

    <form asp-controller="UFs" asp-action="Delete" method="post">
        <div class="form-actions no-color">
            <button type="submit" class="btn btn-secondary">Confirmar Exclusão</button>
            &nbsp;
            <a asp-action="Index" class="btn btn-primary">Voltar</a>
        </div>
    </form>
</div>
