@{
    ViewData["Title"] = "Index";
}

<div class="text-center">
    <h1 class="display-4">Index</h1>

    <ul class="list-group">
        <li class="list-group-item"><a asp-area="" asp-controller="People" asp-action="Index">People</a></li>
        <li class="list-group-item"><a asp-area="" asp-controller="UFs" asp-action="Index">UFs</a></li>
    </ul>
</div>
