
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>Cadastro simples de Pessoas e UFs</p>

<ul class="list-group">
	<li class="list-group-item">@Html.ActionLink("Pessoas", "Index", "Pessoas")</li>
	<li class="list-group-item">@Html.ActionLink("UFs", "Index", "UFs")</li>
</ul>