@model TestePratico.Web.ViewModels.PessoaViewModel

<div class="form-horizontal">
    <h4>Dados</h4>
    <hr />
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-group">
        <label asp-for="Nome" class="form-label col-md-2"></label>
        <div class="col-md-10">
            <input asp-for="Nome" class="form-control" />
            <span asp-validation-for="Nome" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group">
        <label asp-for="DataNascimento" class="form-label col-md-2"></label>
        <div class="col-md-10">
            <input asp-for="DataNascimento" class="form-control" />
            <span asp-validation-for="DataNascimento" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group">
        <label asp-for="DDD" class="form-label col-md-2"></label>
        <div class="col-md-1">
            <input asp-for="DDD" class="form-control" />
            <span asp-validation-for="DDD" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group">
        <label asp-for="Telefone" class="form-label col-md-2"></label>
        <div class="col-md-10">
            <input asp-for="Telefone" class="form-control" />
            <span asp-validation-for="Telefone" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group">
        <label asp-for="Email" class="form-label col-md-2"></label>
        <div class="col-md-10">
            <input asp-for="Email" class="form-control" />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group">
        <label asp-for="UFId" class="form-label col-md-2"></label>
        <div class="col-md-10">
            <select asp-for="UFId" asp-items="Model.UFs" class="form-control form-select">
                <option></option>
            </select>
            <span asp-validation-for="UFId" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group row">
        <div class="col-md-offset-2 col-md-1">
            <input type="submit" value="Gravar" class="btn btn-secondary" />
        </div>
        <div class="col-md-1">
            <a asp-action="Index" class="btn btn-primary">Voltar</a>
        </div>
    </div>
</div>
