@model TestePratico.Web.ViewModels.PessoaViewModel

@{
    ViewData["Title"] = "Criar Pessoa";
}

<h2>Criar Pessoa</h2>

<form asp-controller="Pessoas" asp-action="Create" method="post">
    <partial name="_Form" for="@Model"></partial>
</form>
