@model TestePratico.Web.ViewModels.PersonViewModel

@{
    ViewData["Title"] = "Detalhes da Pessoa: " + Model.Name;
}

<h2>Detalhes</h2>

<div>
    <partial name="_Display" for="@Model"></partial>
</div>
<p>
    <a asp-action="Edit" asp-route-id="@Model.PersonId" class="btn btn-secondary">Editar</a>
    &nbsp;
    <a asp-action="Index" class="btn btn-primary">Voltar</a>
</p>
