@model TestePratico.Web.ViewModels.PersonViewModel

@{
	ViewData["Title"] = "Editar Pessoa";
}

<h2>Editar Pessoa</h2>

<form asp-controller="Pessoas" asp-action="Edit" method="post">
	<input hidden asp-for="PersonId" />
	<partial name="_Form" for="@Model"></partial>
</form>
