@model TestePratico.Web.ViewModels.PersonViewModel

<div class="form-horizontal">
    <h4>Data</h4>
    <hr />
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-group">
        <label asp-for="Name" class="form-label col-md-2"></label>
        <div class="col-md-10">
            <input asp-for="Name" class="form-control" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group">
        <label asp-for="Birthdate" class="form-label col-md-2"></label>
        <div class="col-md-10">
            <input asp-for="Birthdate" class="form-control" />
            <span asp-validation-for="Birthdate" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group">
        <label asp-for="AreaCode" class="form-label col-md-2"></label>
        <div class="col-md-1">
            <input asp-for="AreaCode" class="form-control" />
            <span asp-validation-for="AreaCode" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group">
        <label asp-for="Phone" class="form-label col-md-2"></label>
        <div class="col-md-10">
            <input asp-for="Phone" class="form-control" />
            <span asp-validation-for="Phone" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group">
        <label asp-for="Email" class="form-label col-md-2"></label>
        <div class="col-md-10">
            <input asp-for="Email" class="form-control" />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group">
        <label asp-for="UFId" class="form-label col-md-2"></label>
        <div class="col-md-10">
            <select asp-for="UFId" asp-items="Model.UFs" class="form-control form-select">
                <option></option>
            </select>
            <span asp-validation-for="UFId" class="text-danger"></span>
        </div>
    </div>

    @if (Model.PersonId > 0)
    {
        <div class="form-group">
            <label asp-for="CreatedAt" class="form-label col-md-2"></label>
            <div class="col-md-10">
                <input asp-for="CreatedAt" class="form-control" disabled />
                <span asp-validation-for="CreatedAt" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group">
            <label asp-for="UpdatedAt" class="form-label col-md-2"></label>
            <div class="col-md-10">
                <input asp-for="UpdatedAt" class="form-control" disabled />
                <span asp-validation-for="UpdatedAt" class="text-danger"></span>
            </div>
        </div>
    }

    <div class="form-group row pt-3">
        <div class="col-md-offset-2 col-md-1">
            <input type="submit" value="Save" class="btn btn-secondary" />
        </div>
        <div class="col-md-1">
            <a asp-action="Index" class="btn btn-primary">Back</a>
        </div>
    </div>
</div>
