@model TestePratico.Web.ViewModels.PersonViewModel

@{
    ViewData["Title"] = "Create Person";
}

<h2>Create Person</h2>

<form asp-controller="Pessoas" asp-action="Create" method="post">
    <partial name="_Form" for="@Model"></partial>
</form>
