@model TestePratico.Web.ViewModels.PersonViewModel

@{
	ViewData["Title"] = "Edit Person";
}

<h2>Edit Person</h2>

<form asp-controller="People" asp-action="Edit" method="post">
	<input hidden asp-for="PersonId" />
	<partial name="_Form" for="@Model"></partial>
</form>
